<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
    </runtime>
    <appSettings>
        <add key="EnableHighPrecisionTimer" value="true" />
        <add key="EnablePerformanceMonitoring" value="true" />
        <add key="AutoBackupOnOptimization" value="true" />
        <add key="DefaultTheme" value="SciFi" />
    </appSettings>
</configuration>